
<div class="booyah-box col-10 offset-1">
  <h1 style="font-family:Georgia;"> List Your Home </h1>
    <br /> 
    <%= simple_form_for @listing do |f| %>
      <%= f.input :address %>
      <%= f.input :description %> 
      <%= f.input :price %>
      <br /> 
      <%= f.submit 'List', class: 'btn btn-primary' %>
    <% end %>
</div>
